html{
  box-sizing: border-box;
  font-size: 100%;
}

*,*::after,*::before{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body{
  background-image: url("/images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-color: $Violet;
  font-family: 'Poppins', sans-serif;

  @include breakpoint-up(sm){
    background-image: url("/images/bg-desktop.svg");
    // background-size: cover;
  }
}

aside{
  width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
