html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: $Violet;
  background-image: url("/images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  padding-left: rem(28px);
  padding-right: rem(28px);

  @include breakpoint-up(sm) {
    padding-left: rem(42px);
    padding-right: rem(42px);
  }

  @include breakpoint-up(md) {
    padding-left: rem(55px);
    padding-right: rem(55px);
  }

  @include breakpoint-up(lg) {
    background-image: url("/images/bg-desktop.svg");
    background-size: cover;
    padding-left: rem(68px);
    padding-right: rem(68px);
  }
}

.logo {        
  max-width: rem(224px);
}

.app {
  padding-top: rem(38.2px);

  @include breakpoint-up(sm) {
    padding-top: rem(42px);
  }

    @include breakpoint-up(md) {
    padding-top: rem(46px);
  }

  @include breakpoint-up(lg) {
    padding-top: rem(64px);
  }
}