html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: $Violet;
  background-image: url("/images/bg-mobile.svg");
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  padding-left: 28px;
  padding-right: 28px;

  @include breakpoint-up(sm) {
    background-image: url("/images/bg-desktop.svg");
    background-size: cover;
    padding-left: 42px;
    padding-right: 42px;
  }

  @include breakpoint-up(md) {
    padding-left: 55px;
    padding-right: 55px;
  }

  @include breakpoint-up(lg) {
    padding-left: 68px;
    padding-right: 68px;
  }
}

.app {
  padding-top: 38.2px;

  @include breakpoint-up(sm) {
    padding-top: 46px;
  }

    @include breakpoint-up(md) {
    padding-top: 55px;
  }

  @include breakpoint-up(lg) {
    padding-top: 64px;
  }
}

.logo {        
  max-width: 224px;
}

main {
  padding-bottom: 64px;    
  padding-top: 54.8px;

  @include breakpoint-up(sm) {
    padding-bottom: 51px;    
    padding-top: 64px;  
  }

  @include breakpoint-up(md) {
    padding-bottom: 39px;    
    padding-top: 73px;  
  }

  @include breakpoint-up(lg) {
    padding-bottom: 27px;    
    padding-top: 82px;  
  }

  >.col-lg-7{
    
    @include breakpoint-up(lg) {
      max-width: 56%;
    }
  }
}

article {
  padding-top: 60px;

  @include breakpoint-up(lg) {
    margin-left: 25px;
    padding-top: 32px;
  }

  &>h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0;

    @include breakpoint-up(sm) {
      font-size: 30px;
    }

    @include breakpoint-up(md) {
      font-size: 36px;
    }

    @include breakpoint-up(lg) {
      font-size: 40px;
    }
  }

  &>p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-bottom: 0;
    margin-left: -4px;
    margin-right: -4px;
    margin-top: 1rem;

    @include breakpoint-up(sm) {
      font-size: 16.66px;
    }

    @include breakpoint-up(md) {
      font-size: 17.33px;
    }

    @include breakpoint-up(lg) {
      font-size: 18px;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 1.5rem;
    }
  }

  & .btn{
    background-color: white;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.269022);
    color: $Violet;
    font-size: 0.75rem;
    margin-top: 1.5rem;
    padding: 11.29px 75.14px 10.71px 75.86px;
    transition: all 150ms ease-in-out;

    @include breakpoint-up(sm) {
      font-size: 16.66px;
    }

    @include breakpoint-up(md) {
      font-size: 17.33px;
    }

    @include breakpoint-up(lg) {
      box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.258633);
      font-size: 18px;
      padding: 13px 63px 16px 64px;
    }

    &:hover{
      background-color: $SoftMagenta;
      color: white;
    }
  }
}

.footer{
  &-social{
    margin-bottom: 1rem;
  }

  &-icon{
    border: 1px solid white;
    border-width: 0.798301px;
    cursor: pointer;
    font-size: 13px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    transition: all 150ms ease-in-out;
    width: 27.5px;

    @include breakpoint-up(sm) {
      font-size: 15px;
      height: 32px;
      line-height: 32px;
      width: 32px;
    } 

    @include breakpoint-up(md) {
      font-size: 17px;
      height: 36px;
      line-height: 36px;
      width: 36px;
    } 

    @include breakpoint-up(lg) {
      font-size: 19px;
      height: 40px;
      line-height: 40px;
      width: 40px;
    } 
  
    &:hover{
      border-color: $SoftMagenta;
      color: $SoftMagenta;
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: $SoftMagenta;
}