main {
  padding-bottom: rem(64px);    
  padding-top: rem(54.8px);

  @include breakpoint-up(sm) {
    padding-bottom: rem(60px);    
    padding-top: rem(58px);  
  }

  @include breakpoint-up(md) {
    padding-bottom: rem(56px);    
    padding-top: rem(62px);  
  }

  @include breakpoint-up(lg) {
    padding-bottom: rem(27px);    
    padding-top: rem(82px);  
  }

  >.col-lg-7{
    
    @include breakpoint-up(lg) {
      max-width: 56%;
    }
  }
}

article {
  padding-top: rem(60px);

  @include breakpoint-up(lg) {
    margin-left: rem(25px);
    padding-top: rem(32px);
  }

  &>h1 {
    font-size: rem(24px);
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 0;

    @include breakpoint-up(sm) {
      font-size: rem(30px);
    }

    @include breakpoint-up(md) {
      font-size: rem(36px);
    }

    @include breakpoint-up(lg) {
      font-size: rem(40px);
    }
  }

  &>p {
    font-family: 'Open Sans', sans-serif;
    font-size: rem(16px);
    margin-bottom: 0;
    margin-left: rem(-4px);
    margin-right: rem(-4px);
    margin-top: rem(16px);

    @include breakpoint-up(sm) {
      font-size: rem(16.66px);
    }

    @include breakpoint-up(md) {
      font-size: rem(17.33px);
    }

    @include breakpoint-up(lg) {
      font-size: rem(18px);
      margin-left: 0;
      margin-right: 0;
      margin-top: rem(24px);
    }
  }

  & .btn{
    background-color: white;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.269022);
    color: $Violet;
    font-size: rem(12px);
    margin-top: rem(24px);
    padding: rem(11.29px) rem(75.14px) rem(10.71px) rem(75.86px);
    transition: all 150ms ease-in-out;

    @include breakpoint-up(sm) {
      font-size: rem(16.66px)
    }

    @include breakpoint-up(md) {
      font-size: rem(17.33px);
    }

    @include breakpoint-up(lg) {
      box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.258633);
      font-size: rem(18px);
      padding: rem(13px) rem(63px) rem(16px) rem(64px);
    }

    &:hover{
      background-color: $SoftMagenta;
      color: white;
    }
  }
}